{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею =)</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush"> 
      <li class="list-group-item">
        Python - easy
        </li>
        <li class="list-group-item">
        Django - easy
        </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Нет вдохновения писать много русских букв 
    "явное лучше, чем не явное"</p>
  </article>
</div>
{% endblock %}